<html>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<head>

	</head>

	<body>
		<!-- Image and text -->
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="http://localhost:3000/linux">
	    <img src="http://localhost:3000/images/linux" width="30" height="30" class="d-inline-block align-top" alt="">
	    Linux
	  </a>
	</nav>

	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="http://localhost:3000/react">
	    <img src="http://localhost:3000/images/react" width="30" height="30" class="d-inline-block align-top" alt="">
	    React
	  </a>
	</nav>

	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="http://localhost:3000/node">
	    <img src="http://localhost:3000/images/node" width="30" height="30" class="d-inline-block align-top" alt="">
	    Node.js
	  </a>
	</nav>

	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="http://localhost:3000/go">
	    <img src="http://localhost:3000/images/go" width="30" height="30" class="d-inline-block align-top" alt="">
	    Go
	  </a>
	</nav>

	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="http://localhost:3000/vscode">
	    <img src="http://localhost:3000/images/vscode" width="30" height="30" class="d-inline-block align-top" alt="">
	    VS Code
	  </a>
	</nav>
		<!-- link to each page -->
	</body>
	<script>
	</script>
</html>

<!-- image sources
	linux  = http://clipart-library.com/clip-art/299-2997036_linux-logo-logo-linux-png.htm
	react  = https://en.wikipedia.org/wiki/React_(web_framework)#/media/File:React-icon.svg
	node   = https://carlisletheacarlisletheatre.org/pin/express-logo-nodejs/
	go     = https://en.wikipedia.org/wiki/Go_(programming_language)#/media/File:Go_Logo_Blue.svg
	vscode = https://en.wikipedia.org/wiki/Visual_Studio_Code#/media/File:Visual_Studio_Code_1.35_icon.svg
